[Desktop Entry]
Version=1.0
Type=Application
Name=Aura Docs
GenericName=Documentation
Comment=Native GPUI documentation app for Aura.
TryExec=aura-docs
Exec=aura-docs
Icon=aura-docs
Categories=Development;Documentation;
Keywords=gpui;aura;docs;documentation;
StartupNotify=true
Terminal=false
